//Mixins

//flex box mixins

@mixin container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
