@use "../abstracts/variables" as v;

.features__images {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 150px;

  .feature-thumb {
    width: 25%;
    border-radius: v.$radius;
  }
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.feature-card {
  background: v.$card;
  padding: 1.5rem;
  border-radius: v.$radius;
  text-align: center;
  transition: transform 0.3s ease;
  color: white;

  &:hover {
    transform: translateY(-5px);
  }

  &__img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
  }
}
