@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

footer {
  background: v.$bg-3;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.site-footer .container {
  @include m.flex-between;
  padding: 1rem 0;
}

.brand__img {
  width: 20px;
  height: auto;
}
